<% if current_user %>
<h1>Welcome, <%= current_user.first_name %>!</h1>
<% end %>
<% if current_user != @user %>
<h2>Meet Your Fellow Musician: </h2>
<% end %>

<h3><%= @user.full_name %></h3>
<h4>Instrument: </h4>
<p><%= @user.instrument %></p>
<h4>Bio: </h4>
<p><%= @user.bio %></p>
<h4>Contact: </h4>
<p><%= @user.email %></p>




<% if @user.contractor == true && current_user == @user %>
    <h3>CONTRACTOR</h3>
<% end %>

<%= link_to "Check out Gigs", gigs_path %>
<p><%= link_to "Check out Fellow Musicians", users_path %>


