<h3 style="color:DarkOliveGreen;"> <%= flash[:delete] %></h3>

<h1><%= welcome_header %></h1>

<h3><%= contractor_header %></h3>
        
<h2><%= meet_musicians %></h2>

<%= render 'user_info' %>

<%= authorized_to_update_user %>

<% if authorized?(@user) && @user.contractor %>
    <h3>Gig Applications Received: </h3>
        <% @requests.each do |request| %>
            <li><%= link_to request.user_name, user_path(request.user) %> for <%= link_to request.gig_name, gig_path(request.gig) %></li>
        <% end%>
    <% end %>
    
<% if authorized?(@user) && !@user.contractor %>
    <h3>Gig Applications Submitted: </h3>
        <% @user.requests.each do |request| %>
            <li><%= link_to request.gig_name, gig_path(request.gig_id) %>
    <% end %>
<% end %>