<% if current_user %>
<h1>Welcome, <%= current_user.first_name %>!</h1>
<% end %>

<% if @user.contractor == true && current_user == @user %>
    <h3>== CONTRACTOR STATUS ==</h3>
<% end %>

<br>

<% if current_user != @user %>
<h2>== Meet Your Fellow Musician ==</h2>
<% end %>

<h3><%= @user.full_name %></h3>
<h4>Instrument: </h4>
<p><%= @user.instrument %></p>
<h4>Bio: </h4>
<p><%= @user.bio %></p>
<h4>Contact: </h4>
<p><%= @user.email %></p>

<br><br>

<% if @user.contractor == true && current_user == @user %>
<h3>== YOUR LIST OF POSTED GIGS == </h3>
<% @user.gigs.each do |gig| %>
<li><%= link_to gig.title, user_gig_path(current_user, gig) %>
<% end %>
<br><br><br><br>
<%= link_to "New Gig Form", new_user_gig_path(current_user) %>

<% end %>

<br>



<p><%= link_to "Profile Page", user_path(current_user) %>
<p><%= link_to "Update Your Profile", edit_user_path(current_user)%>




<p><%= link_to "Check out Gigs", gigs_path %>
<p><%= link_to "Check out Fellow Musicians", users_path %>


