<%= form_for @gig do |f| %>

    <p><%= f.label :title %>
    <%= f.text_field :title %></p>

    <p><%= f.label :datetime %>
    <%= f.datetime_local_field :datetime %></p>

    <p><%= f.label :description %>
    <%= f.text_area :description %></p>

    <p><%= f.label :payment %>
    $<%= f.text_field :payment %></p>

    <p>Instruments required: </p>
    <p><%= f.label "Select Existing Instrument"%>
 
    <%= f.collection_select :instrument_id, Instrument.all, :id, :name, include_blank: "Select Instrument" %>

  </div>

  <p> Or create new Instrument: </p>
  <div>
    <%=f.fields_for :instrument do |i| %>
      <%= i.label :name %>
      <%= i.text_field :name %>
    <% end %>

    <%= f.submit %>

<% end %>


