<h1><%= @gig.title %></h1>
<li><%= @gig.datetime.strftime("%b %e %Y, %l:%M %p") %>
<li><%= @gig.description %>
<li>$<%= @gig.payment %>

<h3>Instruments needed: </h3>
    <% @gig.instruments.each do |instrument|%>
    <li><%= instrument.name %></li>
<% end %>

<h4>Contact for more info: 
<%= link_to @gig.user.full_name, user_path(@gig.user) %></h4>
<ul>
    <li><%= @gig.user.email %>
</ul>