<h3 style="color:DarkOliveGreen;"><%= flash[:success] %></h3>
<h3 style="color:DarkRed;"><%= flash[:error] %></h3>
<h3 style="color:DarkOliveGreen;"><%= flash[:update] %></h3>

<%= render 'gig_info'%>

<% if !current_user.contractor  %>
<h3>Submit Application </h3>
    <%= form_for @request do |f| %>
        <%= f.hidden_field :gig_id, value: @gig.id %>

        <%= f.label "I would like to apply for this gig"%>
        <%= f.check_box :application %>

        <%= f.submit "Submit Application" %>
    <% end %>
<% end %>

<%= authorized_edit_button %>
<%= authorized_delete_button %>

