<!DOCTYPE html>
<html>
  <head>
    <title>FreelanceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

        <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
        <% if current_user %>
          <a class="navbar-brand" href="<%= user_path(current_user) %>"/><%= current_user.first_name %>'s Profile</a>
          <%= link_to "Log Out", logout_path, class:"navbar-brand",method: :post %>        
          <% else %>
            <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
        <% end %>
        <a class="navbar-brand" href="<%= login_path %>"/>Log In</a>
        <p><%= link_to "Log In with Google", '/auth/google_oauth2', class:"navbar-brand", method: :post %>



        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
          <br><br>
      <p><%= link_to "Check out Gigs", gigs_path %>
      <p><%= link_to "Check out Fellow Musicians", users_path %>

    </div>
  </body>
</html>
