<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Sacramento
          ">
    <style>
      body {
        font-family: 'Sacramento';
        font-size: 20px;
      }
    </style>
    <title>FreelanceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

        <a class="navbar-brand" href="<%= root_path %>"/>Home</a> |
        <% if logged_in? %>
          <a class="navbar-brand" href="<%= user_path(current_user) %>"/><%= current_user.first_name %>'s Profile</a>  |
          <%= link_to "Log Out", logout_path, class:"navbar-brand",method: :post %>   |
          <a class="navbar-brand" href="<%= gigs_path %>"/>Check Out Gigs</a>  |
          <a class="nvabar-brand" href="<%= users_path %>"/> Meet Fellow Musicians</a>   |                       

          <a class="navbar-brand" href="<%= users_contractors_path %>"/>Meet Contractors</a>  |
          <a class="navbar-brand" href="<%= gigs_most_recent_path %>"/>Upcoming Gigs</a>  |
          <a class="navbar-brand" href="<%= gigs_path %>"/>All Gigs</a>  |


        <% else %>
          <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>   |
          <a class="navbar-brand" href="<%= login_path %>"/>Log In</a>   |
          <%= link_to "Log In with Google", '/auth/google_oauth2', class:"navbar-brand", method: :post %> |
        <% end %>
        



        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>

    </div>
  </body>
</html>
